.AsideCharacterImage {
    max-width: 100%; 
    height: auto; 
}

.AsideCharacterDescription{
    font-family: impact; 
    font-size: 36px; 
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}

.AsideCharacterTitle{
    font-family: impact; 
    font-size: 50px; 
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}

