.CharactersBoxContainer {
    padding: 20px; 
}

/*.color-1{
    background-color : green; 
}

.color-2 {
    background-color: #43e821;
}
.color-3 {
    background-color: #134a08;
}
.color-4 {
    background-color: #56ea39;
}
*/