.title-description {
    font-family: impact; 
    font-size: 30px; 
    color:yellow; 
    letter-spacing: 1px;
}
.paragraphe-description {
    font-family: impact; 
    font-size: 22px; 
    color: #222; 
    letter-spacing: 1px;
}