
/*.Navbar ul {
    margin: 0; 
    padding: 10px; 
}
.NavabarContainer {
    position: fixed;
    width: 100%; 
}
*/
.nav-item{
    font-family: 'East Sea Dokdo';  
    font-size: 24px;
    letter-spacing: 3px; 
}

.navbar-brand {
    font-family: 'East Sea Dokdo';  
    font-size: 34px;
    letter-spacing: 3px; 
    color: red !important; 
    margin-left : 20px; 
}
